
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: auto; 
  margin-right: auto;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  text-align: center; 
  width: 100%; 
  box-sizing: border-box; 
}


button.addCompanyButton {
  padding: 10px;
  background-color: #3498db; 
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

button.addCompanyButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button.deleteButton {
  margin-top: 10px;
  padding: 8px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

button.deleteButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
